<!-- start custom footer snippets -->
<style>
  #clustrmaps-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 15px; /* Curved borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    overflow: hidden; /* Ensures the map doesn't overflow the curved borders */
  }
  
  #clustrmaps-widget > div {
    border-radius: 10px; /* Curved borders for the map itself */
    overflow: hidden;
  }
</style>

<div id="clustrmaps-widget">
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=284&t=tt&d=ZNNlFVg9wm5rxH6XQ7qfXAqE_tcdd2cDJirjUSfxtfc&co=a9dbff'></script>
</div>

<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->
