<!-- start custom footer snippets -->
<style>
  #clustrmaps-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; /* Add some space between the map and the sitemap link */
  }
</style>

<div id="clustrmaps-widget">
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=1d6b65&w=300&t=tt&d=ZNNlFVg9wm5rxH6XQ7qfXAqE_tcdd2cDJirjUSfxtfc&co=f2f3f3&ct=9ba1a6'></script>
</div>

<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->
