---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign ordered_pubs = site.publications | where_exp: "item", "item.order" | sort: 'order' %}
    {% for post in ordered_pubs %}
      {% if post.category != category[0] %}{% continue %}{% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}

    {% assign unordered_pubs = site.publications | where_exp: "item", "item.order == nil" %}
    {% for post in unordered_pubs reversed %}
      {% if post.category != category[0] %}{% continue %}{% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign ordered_pubs = site.publications | where_exp: "item", "item.order" | sort: 'order' %}
  {% for post in ordered_pubs %}
    {% include archive-single.html %}
  {% endfor %}

  {% assign unordered_pubs = site.publications | where_exp: "item", "item.order == nil" %}
  {% for post in unordered_pubs reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<p>*Presented by coauthor.</p>

